<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Star Wars App</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    </head>

    <body>
        <div id="cards" v-cloak>
            <div class="jumbotron jumbotron-fluid">

                <!-- Application Title and tagline-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <h1 class="display-2">Star Wars App</h1>
                            <p class="lead">Search for your favorite Star Wars Characters!</p>
                        </div>
                    </div>
                </div>
            </div>

          
        
            <div v-cloak class="container"> 
                <div class="row">
                    <div class="col-lg">

                        <!-- Search input text -->
                        <div class = "col-lg">
                            <p>Able to search for characters in the Star Wars universe.</p>
                            <p>Search character:</p>
                            <input v-model="characterNameInput"><br>
                           
                        </div>

                        <!-- Search Button-->
                        <div class = "col-lg">
                            <button @click="search" class="btn btn-dark">
                                Search
                            </button>
                        </div>
                        
                    

                        <!-- Showing Results for search -->
                        <div class="row" v-for="character in people">
                            <div class="col-lg">
                               <ul> 
                                   {{character.name}}
                                    <button @click="fetch" class = "btn btn-dark">
        
                                        Select
                                        <!-- {{character.url}} -->
                                    </button>
                               </ul>
                            </div>

                        </div>

                        <!-- Show 5 Card Hand When Playing-->
                        <!-- <div class="row">
                            <div class="col" v-for="card in deck.cards">
                                <img v-bind:src="card.image" width="50%" />
                                <p>
                                    <input
                                        type="checkbox"
                                        v-model="selectedCards"
                                        :value="card.code"
                                        v-if="deck.cards && isPlaying"
                                    />
                                </p>
                            </div>
                        </div> -->

                        <!-- Show Appropriate Button When Playing-->
                        <!-- <div class="row">
                            <button v-if="deck.cards && isPlaying" @click="throwawayCards" class="btn btn-dark">
                                Throwaway
                            </button>
                            <button v-if="deck.cards && !isPlaying" @click="replay" class="btn btn-dark">
                                Replay
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script> 
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="app.js" type="text/javascript"></script>

    </body>
</html>
